# Dependencies
/node_modules
/.pnpm-store

# Next.js build outputs
/.next/
/out/
/build
/dist
*.tsbuildinfo


# Environment variables & secrets (CRITICAL FOR OPEN SOURCE)
.env
.env*.local
.env.development
.env.test
.env.production
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
/ci_logs


# IDE & Editor files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archives
*.zip
*.tar.gz
*.tgz

# System files

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Vercel
.vercel

# Supabase local
/supabase/.temp
